/*
 * module: stage
 * creator: cbueschi
 */
.mod-stage {

	&__image {
		position: relative;
		
		&-figure {
			margin: 0;
			
			img {
    			margin: auto;
    			width: auto;
    			max-width: 100%;
    			max-height: 500px;
    			display: block;
			}
		}
	}

}
/* END module: stage */
