/**
 * module: content
 * creator: cbueschi
 */
.mod-article {

	.g-layout-article {
		.grid-col-set-equal(@grid-cols/2);
	}

	.g-table {
		display: block;
		min-height: 100vh;

		@media @m-large-up {
			display: table;
			table-layout: fixed;
			height: 100vh;
			width: 100%;
		}

		.g-cell {
			padding-right: @spc;

			@media @m-large-up {
				display: table-cell;
				vertical-align: middle;
				width: 50%;
			}
		}
	}

	a {
		text-decoration: underline;
	}

	img {
		height: auto;
	}

	ul {
		list-style: initial;
		margin-left: 20px;
	}

	.g-layout-gallery {
		@media @m-small {
			.grid-col-set-equal(@grid-cols/2);
		}
		@media @m-medium-up {
			.grid-col-set-equal(@grid-cols/2);
		}
	}

	&__article {
		//height: 100vh;
		min-height: 100vh;
		padding-top: @spc;

		@media @m-large-up {
			padding-top: 0;
		}

		&-inner {
			&:extend(.box-centered);
			&:extend(.box-content-page);

			position: relative; // background relative

			padding-top: @spc * 2;
			padding-bottom: @spc;
			
		}

		&:before {
			content: '';
			display: block;
			margin: 0 auto;
			border-bottom: 5px solid black;
			width: 100px; 
			transform: rotate(-20deg);

			@media @m-medium-up {
				border-bottom: 10px solid black;
				width: 200px; 
			}
		}
	}

	&__title {
		margin-top: 0;
		line-height: 10vw;

		@media @m-large-up {
			line-height: 57px;
		}

		em {
			font-style: normal;
			font-size: 15vw;
			display: block;

			@media @m-large-up {
				font-size: 64px;
			}

			@media @m-x-large {
				font-size: 84px;
			}
		}

		.m-develop & {
			em {
				color: white;
			}
		}

		.m-network & {
			em {
				color: @color-cyan;
			}
		}

		.m-integrate & {
			em {
				color: @color-red;
			}
		}
	}

	&__subtitle {
		text-transform: uppercase;
	}

	&__body {
		font-weight: 600;

		.m-contact & {
			color: black;
		}

		@media @m-large-up {
			padding-bottom: @spc;
		}
	}

	&__gallery {

		&-item {

		}

		&-link {

		}

		&-image {

		}
	}

	&__background {
		position: absolute;
    	top: calc(~"50% - 275px");
    	width: 550px;
    	left: -150px;
    	opacity: 0.2;
	}

	
}
/* END module: content */
